// Rockwell Nova Font
@font-face {
    font-family: 'Rockwell Nova';
    font-style: normal;
    font-weight: 400;
    src: local('Rockwell Nova'), url('fonts/RockwellNova.woff') format('woff');
}
@font-face {
    font-family: 'Rockwell Nova';
    font-style: italic;
    font-weight: 400;
    src: local('Rockwell Nova'), url('fonts/RockwellNova-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Rockwell Nova';
    font-style: normal;
    font-weight: 700;
    src: local('Rockwell Nova'), url('fonts/RockwellNova-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Rockwell Nova';
    font-style: italic;
    font-weight: 700;
    src: local('Rockwell Nova'), url('fonts/RockwellNova-BoldItalic.woff') format('woff');
}

// Stratos Font
@font-face {
    font-family: 'Stratos';
    font-style: normal;
    font-weight: 400;
    src: local('Stratos'), url('fonts/Stratos-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Stratos';
    font-style: italic;
    font-weight: 400;
    src: local('Stratos'), url('fonts/Stratos-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Stratos';
    font-style: normal;
    font-weight: 700;
    src: local('Stratos'), url('fonts/Stratos-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Stratos';
    font-style: italic;
    font-weight: 700;
    src: local('Stratos'), url('fonts/Stratos-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'cswg';
	src: url('fonts/cswg.eot?72208083');
	src: url('fonts/cswg.eot?72208083#iefix') format('embedded-opentype'),
	 	url('fonts/cswg.woff2?72208083') format('woff2'),
		url('fonts/cswg.woff?72208083') format('woff'),
	 	url('fonts/cswg.ttf?72208083') format('truetype'),
	 	url('fonts/cswg.svg?72208083#cswg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	speak: none;
	line-height: 1;
	font-family: 'cswg';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	speak: none;
	line-height: 1;
	font-family: 'cswg';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-publications:before { content: '\e810'; }
.icon-mouse_cursor:before { content: '\e80a'; }
.icon-presentations:before { content: '\e80e'; }
.icon-productivity:before { content: '\e80f'; }
.icon-arrow-up:before { content: '\e800'; }
.icon-location:before { content: '\e807'; }
.icon-caret:before { content: '\e801'; }
.icon-close:before { content: '\e802'; }
.icon-email:before { content: '\e803'; }
.icon-latest:before { content: '\e804'; }
.icon-layer:before { content: '\e805'; }
.icon-linkedin:before { content: '\e806'; }
.icon-map_pin:before { content: '\e808'; }
.icon-minus:before { content: '\e809'; }
.icon-phone:before { content: '\e80b'; }
.icon-search:before { content: '\e812'; }
.icon-twitter:before { content: '\e813'; }
.icon-plus:before { content: '\e80d'; }
.icon-quote:before { content: '\e811'; }
.icon-play:before { content: '\e80c'; }
.icon-youtube:before { content: '\e814'; }
.icon-about:before { content: '\e815'; }
.icon-abstracts:before { content: '\e816'; }
.icon-arrow-down:before { content: '\e817'; }
.icon-arrow-left:before { content: '\e818'; }
.icon-arrow-right:before { content: '\e819'; }
.icon-qq:before { content: '\f1d6'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-snapchat-ghost:before { content: '\f2ac'; }
.icon-facebook:before { content: '\f30c'; }