/************************* 
	Media Queries
///**********************/
@media only screen and(min-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1600px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1600px ///*/

@media only screen and(max-width: 1460px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1460px ///*/

@media only screen and(max-width: 1366px) {

	/*************************
		Home Style
	///**********************/
	.dashboard { 

		.dashboard-area {

			.items {
    			grid-template-columns: auto auto auto;
			}

			.recent-area {
				grid-template-columns: 55% auto;
			}
		}
	} 
	 
}/*/// 1366px ///*/

@media only screen and(max-width: 1199px) {

	/*************************
		Home Style
	///**********************/
 	.dashboard { 

		.dashboard-area { 

			.recent-area {
				grid-template-columns: 100%;
			}
		}
	}
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {

	/*************************
		Home Style
	///**********************/
	.sidebar {
	    width: 70px;

	    .m-hide {
	    	display: none;
	    }
	}

	#nav-toggle:checked + .sidebar{
	 	width: 300px; 

	 	.m-hide {
	 		display: block !important;
	 		display: inline;
	 	}
	}



	#nav-toggle {
		display: block;
	}

	#nav-toggle:checked ~ .dashboard {
		margin-left: 300px;

		.m-hide {
			display: block !important;
		}

		.header {
			left: 300px;
			width: calc(100% - 300px);
		}
	}

	
	.dashboard { 
		margin-left: 70px;

		.header {
			left: 70px;
			width: calc(100% - 70px);

			.search-wrapper {
				display: none;
			}
		}

		.dashboard-area {

			.items {
    			grid-template-columns: 100% !important;
			}


			.items {
    			grid-template-columns: auto auto;

			}
		}
	}

}/*/// 991px ///*/

@media only screen and(max-width: 767px) {

	/*************************
		Home Style
	///**********************/
	.sidebar {
		z-index: 100;
		margin-left: -400px;
		position: absolute;
	}
 	
 	#nav-toggle:checked + .sidebar{
	 	margin-left: 0;
	} 

 	.dashboard {
		margin-left: 0px;

		.header {
			left: 0px;
			width: 100%; 

			label {

				.la-bars {
					width: 40px;
					height: 40px;
					background: $red;
					padding-left: 6px;
					line-height: 40px;
					border-radius: 50%;
				}
			}
		}
	}
}/*/// 767px ///*/

@media only screen and(max-width: 680px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 680px ///*/

@media only screen and(max-width: 575px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 575px ///*/

@media only screen and(max-width: 480px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 480px ///*/

@media only screen and(max-width: 380px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 380px ///*/