/***********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1460px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav-right {
                    margin-left: 40px;
                }
            }
        }
    }

    /***********************************
    BREADCRUMB STYLES
    ***********************************/
    .breadcrumb {
        padding: 25px 0 10px;
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding-bottom: 140px;
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding-bottom: 90px;
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-featured {
        padding-bottom: 70px;
    }

    .blog-page {
        padding-bottom: 90px;
    }

    .blog-details {
        padding-bottom: 90px;
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 90px;
    }

     /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 90px;
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 90px;
    }

    .our-mission {
        padding: 90px 0;
    }

    .our-history {
        padding: 90px 0;
    }

    .our-sites {
        padding: 90px 0;
    }

    .team-members {
        padding: 90px 0;
    }

    .our-partners {
        padding: 90px 0;
    }

 
}/* 1460 */

@media only screen and (max-width: 1366px) {

    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .container-fluid {
                padding-left: 30px;
                padding-right: 30px;
            }

            .navbar-collapse {

                .navbar-nav-right {
                    margin-left: 30px;
                }
            }
        }
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding-bottom: 120px;
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding-bottom: 80px;
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-featured {
        padding-bottom: 60px;
    }

    .blog-page {
        padding-bottom: 80px;
    }

    .blog-details {
        padding-bottom: 80px;
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 80px;
    }

    /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 80px;
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 80px;
    }

    .our-mission {
        padding: 80px 0;
    }

    .our-history {
        padding: 80px 0;
    }

    .our-sites {
        padding: 80px 0;
    }

    .team-members {
        padding: 80px 0;
    }

    .our-partners {
        padding: 80px 0;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {
        padding: 70px 0;
    }

}/* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 55px; line-height: 67px; }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .container-fluid {
                padding-left: 15px;
                padding-right: 15px;
            }

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-child(1), &:nth-child(2) {
                                display: none;
                            }
                        }
                    }
                }

                .navbar-nav-right {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding-bottom: 100px;
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding-bottom: 70px;
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-page {
        padding-bottom: 70px;
    }

    .blog-details {
        padding-bottom: 70px;
    }

    .blog-post-details {

        .media {

            a {

                &.popup-video {

                    &:before {
                        width: 90px;
                        height: 90px;
                        font-size: 30px;
                        line-height: 90px;
                        top: calc(50% - 45px);
                    }
                }
            }
        }

        .entry-footer {
            margin-top: 30px;
        }
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 70px;
    }

    .productivity-post {
        margin-bottom: 50px;
    }

    /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 70px;
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 70px;
    }

    .our-mission {
        padding: 70px 0;
    }

    .our-history {
        padding: 70px 0;
    }

    .our-sites {
        padding: 70px 0;
    }

    .team-members {
        padding: 70px 0;
    }

    .team-category {

        .member-popup {
            margin-bottom: -50px;
        }
    }

    .teammember {
        margin-bottom: 50px;
    }

    .our-partners {
        padding: 70px 0;
    }

    .about-shock-page {
        padding-bottom: 50px;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .call-action {
        padding: 50px 0;
    }

    .footer {
        padding: 60px 0;

        .copyright-wrapper {
            margin-top: 20px;
        }
    }

}/* 1199 */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* force ipad dropdown carats */
    /* force ipad dropdown carats */
    .open .dropdown-menu>li,
    .open .dropdown-menu>li>a:hover {
        display:inline-block!important;
    }
}/* iPad Portrait and Landscape */

@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 48px; line-height: 60px; }
    h2, .h2 { font-size: 40px; line-height: 52px; }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        margin-left: -10px;
                        margin-right: -10px;

                        > li {
                            padding-left: 10px;
                            padding-right: 10px;

                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }
                }

                .navbar-nav-right {
                    margin-left: 15px;
                }
            }
        }
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding-bottom: 80px;

        .entry-title {
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

    .contact-form {

        .media {

            img {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding-bottom: 60px;
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-featured {
        padding-bottom: 50px;

        .blog-post.big {
            margin-bottom: 20px;
        }
    }

    .blog-page {
        padding-bottom: 60px;
    }

    .blog-details {
        padding-bottom: 60px;
    }

    .blog-post-details {

        .media {

            a {

                &.popup-video {

                    &:before {
                        width: 80px;
                        height: 80px;
                        font-size: 28px;
                        line-height: 80px;
                        top: calc(50% - 40px);
                    }
                }
            }
        }
    }

    .sidebar {
        margin-top: 40px;

        .widget {

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 60px;
    }

    .productivity-post {
        margin-bottom: 40px;
    }

    .productivity-details {

        .featured-image {
            margin-bottom: 20px;
        }
    }

    /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 60px;

        .entry-content {

            .content-block  {

                .block-header {
                    margin-bottom: 20px;
                }
            }
        }
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 60px;

        .row:not(.align-items-center) {

            .entry-title {
                margin-bottom: 30px;
            }
        }

        .margin-minus {
            margin-top: 0;
        }
    }

    .our-mission {
        padding: 60px 0;
    }

    .our-history {
        padding: 60px 0;

        .media {
            padding-right: 0;
        }
    }

    .our-sites {
        padding: 60px 0;

        .btn {
            margin-top: 0;
        }
    }

    .team-members {
        padding: 60px 0;
    }

    .teammember {
        margin-bottom: 40px;
    }

    .team-category {
        margin-bottom: 50px;

        .member-popup {
            margin-bottom: -40px;
        }

        .entry-title {
            margin-bottom: 30px;
        }
    }

    .our-partners {
        padding: 60px 0;
    }

    .about-shock-page {
        padding-bottom: 40px;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .call-action {
        padding: 40px 0;

        .content {

            .sub-title {
                margin-bottom: 0;
            }

            .title {
                margin-bottom: 0;
            }
        }
    }

    .footer {
        padding: 50px 0;

        .widget-box {
            padding: 25px 20px;
        }

        .copyright-wrapper {
            margin-top: 15px;
        }
    }

}/* 991 */

@media only screen and (max-width: 767px) {

    h1, .h1 { font-size: 40px; line-height: 52px; }
    h2, .h2 { font-size: 36px; line-height: 44px; }
    h3, .h3 { font-size: 30px; line-height: 36px; }
    h4, .h4 { font-size: 24px; line-height: 32px; }
    h5, .h5 { font-size: 20px; line-height: 30px; }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {
        padding: 13.5px 0;

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-child(4) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .header_gutter {
        height: 80px;
    }

    /***********************************
    BREADCRUMB STYLES
    ***********************************/
    .breadcrumb {
        padding-top: 20px;
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding: 40px 0 60px;
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding-bottom: 50px;

        .partner-logo {
            margin-bottom: 30px;
        }
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-featured {
        padding-bottom: 40px;
    }

    .blog-page {
        padding: 50px 0;
    }

    .blog-details {
        padding-bottom: 50px;
    }

    .blog-post-details {

        .media {

            a {

                &.popup-video {

                    &:before {
                        width: 70px;
                        height: 70px;
                        font-size: 24px;
                        line-height: 70px;
                        top: calc(50% - 35px);
                    }
                }
            }
        }
    }

    .sidebar {
        margin-top: 30px;
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 50px;
    }

    .productivity-post {
        margin-bottom: 30px;
    }

    /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 50px;

        .entry-footer {
            margin-top: 30px;
        }
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 50px;
    }

    .our-mission {
        padding: 50px 0;
    }

    .our-history {
        padding: 50px 0;

        .media {
            margin-bottom: 30px;
        }

        .content {
            max-width: 100%;
        }
    }

    .our-sites {
        padding: 50px 0;
    }

    .our-site {
        margin-bottom: 30px;
    }

    .team-members {
        padding: 50px 0;
    }

    .mfp-member-popup {

        .mfp-container {

            .mfp-content {

                .white-popup-block {

                    .media-social {
                        margin-right: 0;
                        margin-bottom: 20px;
                        float: none !important;
                    }
                }
            }
        }
    }

    .our-partners {
        padding: 50px 0;
    }

    .partner-item {
        height: 150px;
    }

    /***********************************
    FOOTER STYLES
    ***********************************/ 
    .call-action {
        padding: 30px 0;

        .content {

            .btn {
                margin-top: 15px;
            }
        }
    }
    
    .footer {
        padding: 40px 0;

        .widget {

            .footer-menu {

                > li {
                    margin-bottom: 20px;

                    &.dropdown {

                        .dropdown-menu {

                            > li {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }

        .copyright-wrapper {
            margin-top: 0;
        }
    }

}/* 767 */

@media only screen and (max-width: 680px) {

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {

                        > li {

                            &:nth-child(5) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
 

}/* 680 */

@media only screen and (max-width: 575px) {

    body, .body { font-size: 16px; line-height: 24px; }

    h1, .h1 { font-size: 36px; line-height: 44px; }
    h2, .h2 { font-size: 30px; line-height: 36px; }
    h3, .h3 { font-size: 28px; line-height: 34px; }
    h4, .h4 { font-size: 20px; line-height: 30px; }
    h5, .h5 { font-size: 18px; line-height: 30px; }
    h6, .h6 { font-size: 16px; line-height: 24px; }

    section {
        padding: 30px 0;
    }

    .col {
        width: 100%;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar {

            .navbar-collapse {

                .navbar-nav {

                    &:not(.navbar-nav-right) {
                        display: none;
                    }
                }

                .navbar-nav-right {

                    > li {

                        &.social {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    /***********************************
    BREADCRUMB STYLES
    ***********************************/
    .breadcrumb {
        padding-top: 15px;
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding: 40px 0;

        .entry-title {
            margin-bottom: 30px;

            .quick-contact {
                margin-top: 20px;

                li {

                    .icon {
                        width: 20px;
                        font-size: 21px;
                        margin-right: 10px;

                        .icon-email {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .contact-form {
        padding: 25px 20px;
    }

    /***********************************
    PARTNER STYLES
    ***********************************/
    .partner-details {
        padding: 40px 0;

        .partner-logo {
            padding: 40px;
        }
    }

    /***********************************
    BLOG STYLES
    ***********************************/ 
    .blog-featured {
        padding: 30px 0 40px;

        .entry-title {
            margin-bottom: 15px;
        }

        .blog-post {

            &.big {

                .text {

                    .title {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
        }
    }

    .blog-page {
        padding: 40px 0;
    }

    .blog-details {
        padding-bottom: 40px;
    }

    .blog-post-details {

        .media {

            a {

                &.popup-video {

                    &:before {
                        width: 60px;
                        height: 60px;
                        font-size: 20px;
                        line-height: 60px;
                        top: calc(50% - 30px);
                    }
                }
            }
        }

        .entry-content {
            margin-top: 20px;
        }

        .entry-footer {
            padding: 20px;
        }
    }

    /***********************************
    PRODUCTIVITY STYLES
    ***********************************/
    .productivity-page {
        padding-bottom: 40px;

        .entry-title {
            margin-bottom: 20px;
            padding-bottom: 20px;
        } 
    }

    .productivity-filter {
        margin-bottom: 20px;

        .form-group {
            margin-bottom: 20px;
        }
    }

    /***********************************
    PATIENTS STYLES
    ***********************************/
    .patients-page {
        padding-bottom: 40px;
    }

    /***********************************
    ABOUT STYLES
    ***********************************/
    .about-page {
        padding-bottom: 40px;
    }

    .our-mission {
        padding: 40px 0;
    }

    .our-history {
        padding: 40px 0;
    }

    .our-sites {
        padding: 30px 0;

        .btn {
            margin-top: 10px;
        }
    }

    .our-site {
        margin-bottom: 20px;
    }

    .team-members {
        padding: 40px 0;
    }

    .teammember {
        margin-bottom: 30px;
    }

    .team-category {
        margin-bottom: 40px;

        .member-popup {
            margin-bottom: -30px;
        }
    }

    .our-partners {
        padding: 40px 0;

        .entry-title {
            margin-bottom: 30px;
        }
    }

    .partner-item {
        height: 130px;
        padding: 30px 40px;
    }
  
    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {

        .widget {

            .footer-menu {

                > li {
                    margin-bottom: 15px;

                    &.dropdown {

                        .dropdown-menu {

                            > li {
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }

        .copyright-wrapper {
            margin-top: 0;
        }

        .social-media {
            margin-left: -3px;
            padding-right: -3px;

            li {
                padding-left: 3px;
                padding-right: 3px;

                a {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    
}/* 575 */

@media only screen and (max-width: 480px) {

    h1, .h1 { font-size: 34px; line-height: 40px; }

    p {
        margin: 0 0 20px;
    }

    /***********************************
    CONNECT STYLES
    ***********************************/
    .connect-page {
        padding-top: 30px;
    }

     /***********************************
    BLOG STYLES
    ***********************************/
    .blog-featured {

        .blog-post {
            margin-bottom: 20px;
            padding-bottom: 20px;

            &.big {

                .text {
                    padding: 15px;

                    .title {
                        font-size: 21px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .blog-post {
        display: block !important;

        .media {
            max-width: 100%;
            margin-right: 0;
            min-width: inherit;
            margin-bottom: 15px;
            float: none !important;
        }

        .text {

            .title {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    /***********************************
    FOOTER STYLES
    ***********************************/
    .footer {

        .copyright-wrapper {
            display: block !important;
        }

        .social-media {
            margin-top: 20px;
        }
    }

}/* 480 */