/***********************
	color
///*********************/
$red: #EB426D;
$white: #FFFFFF;
$black: #000002;
$dark_white: #FFF2F3;
$dark_black: #D5D5D8;

/***********************
	fonts
///*********************/
$pop: 'Poppins', sans-serif;

