/*************************
	Base style
*************************/
	@import "base"; /* base */
	@import "extend"; /* extend */
	@import "mixin"; /* mixin */

	// Container width
	.container {
		max-width: 1062px;
	}

	// Color
	$black: #333333;
	$dark_black: #626262;
	$light_black: #b4ad9e;

	// Font 
	$buntu: 'Ubuntu', sans-serif;
	$play: 'Playfair Display', serif;
	$inlata: 'Inconsolata', monospace;

	// Body
	body * {
		font-family: $play;
	}

	// H1 -- h6
	h1, .h1 {
		font-size: 30px;
		font-weight: 400;
		line-height: 40px;
		font-family: $play;
		color: $dark_black;
	}
	h2, .h2 {
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		font-family: $buntu;
		color: $light_black;
		text-transform: uppercase;
	}

	/// Button /
	.btn {
		font-size: 20px;
		font-weight: 400;
		font-family: $play;
		padding: 13px 32px;
		color: $dark_black;
		border: 1px solid $dark_black;
		@include transition(all .3s ease);

		&:hover, &:focus {
			color: $black;
			background: $dark_black;
		}
	}
/*************************
	popup overly
*************************/
.show-overly {
	opacity: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
	position: fixed;
	background: #000;
	@include transition(all .3s ease);

	&.active {
		z-index: 9;
		opacity: .7;
	}
}
/*************************
	header
*************************/

.sidr {
	display: none;
}

.header {
	padding: 70px 0;

	.navbar {

		padding: 0 15px;

		.navbar-header {

			.logo-text {
 				
 				span {
 					color: #000;
 					font-size: 30px;
 					font-weight: 400;
 					letter-spacing: 5px;
 					font-family: $inlata;
 					text-transform: uppercase;
 				}
			}
		}

		.navbar-nav {

			margin-left: -50px;
			margin-right: -50px;

			li {
				padding-left: 50px;
				padding-right: 50px;

				a {

					font-size: 14px;
					font-weight: 400;
					font-family: $play;
					color: $dark_black;

					&:hover, &:focus {
						color: $light_black;
						text-decoration: none;
					}
				}
			}
		}
	}
}
/*************************
	header-media
*************************/
.header-media {
	margin-bottom: 120px;

	.media {
		margin-bottom: 95px;

		img {
			width: 1032px;
			height: 508px;
		}
	}

	.content {
		padding-left: 50px;

		.sub-title {
			margin-bottom: 25px;
		}

		.title {
			margin-bottom: 25px;
		}

		.descriptsion {
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			color: $dark_black;
			font-family: $play;
			margin-bottom: 45px;
		}

		input[type="submit"] {
			border: none;
			color: #B4AD9E;
			font-size: 14px;
			background: #fff;
			font-weight: 400;
			font-family: $buntu;

			&:focus {
				outline: none;
			}
		}
	}
}
/*************************
	articale-area
*************************/
.articale-area {
	margin-bottom: 40px;

	.padding-left {
		padding-left: 50px;

		.single-articale {
			margin-bottom: 80px;

			.media {
				margin-bottom: 30px;

				img {
					width: 420px;
				}
			}

			.content { 

				.title {
					margin: 25px 0;
				}

				.descriptsion {
					font-size: 14px;
					font-weight: 400;
					max-width: 430px;
					line-height: 30px;
					color: $dark_black;
					font-family: $play;
				}
			}
		}
	}
}
/*************************
	newsletter
*************************/
.newsletter {
	padding: 70px 0;
	background-color: #F0F0F0;

	.content {

		.title {
			color: #333333;
			font-size: 30px;
			margin-bottom: 50px;
		}

		.form {

			input[type="email"] {
				border: none;
				height: 36px;
				font-size: 14px;
				min-width: 410px;
				padding: 8px 1px;
				color: $dark_black;
				font-family: $play;
				padding-right: 42px;
				background: transparent;
				border-bottom: 2px solid $dark_black;

				&:focus {
					outline: none;
				}
			}

			img {
				top: 72%;
				right: 31%;
				width: 38px;
				height: 26px;
				cursor: pointer;
				position: absolute;
			}
		}
	}
}
/*************************
	footer
*************************/
.footer {
	padding: 40px 0;
	margin-top: 50px;
	background-color: #F0F0F0;

	.widget {
			font-weight: 400;
			font-family: $play;

		ul {

			li {
				float: left;

				&:not(:last-child) {
					margin-right: 17px;
				}

				a {
					color: #000;
					font-size: 14px;

					&:hover {
						color: $light-black;
						text-decoration: none;
					}
				}
			}
		}
	}

	.socail-widget {
		float: right;

		.follow {
			color: #000;
			font-size: 14px;
			margin-right: 17px;
			font-family: $play;

			&:hover {
				color: $light_black;
				text-decoration: none;
			}
		}

		ul {
			float: right;

			li {

				a {
					color: $dark_black;
				}
			}
		}
	}
} 


@import "responsive"; /* Responsive */
