/************************* 
	Media Queries
///**********************/ 
@media only screen and(max-width: 1199px) {h1, .h1 {font-size: 35px;line-height: 45px;}}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {
h1, .h1 {font-size: 32px;line-height: 42px;} 
/*************************
	header 
*************************/
.header {	

	.navbar {

		.navbar-header {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.user-dashboard {
				display: block;
				margin-right: 10px;
			}

			.navbar-toggler {
				margin: 0;
			    border: 0;
			    padding: 0;
			    width: 32px;
			    display: block;
			    border-radius: 0;
			    background: transparent;

				span.bar-menu {
			        height: 6px;
			        width: 100%;
			        display: block;
			        border-radius: 0;
			        @include transition(all .5s ease);
			        background-color: var(--logo-color); 

			        &:not(:last-child) {
			        	margin-bottom: 6px;
			        }
			    }

			    &:hover { 

		            span:first-child { 
		           		transition: 0.5s;
		           		transform: translateY(-2px);
		            }

		            span:last-child {
		            	transition: 0.5s;
		            	transform: translateY(2px);
		       		} 
		   		}

		   		&:focus {
			    	outline: none;
			    }
			}
		}

		.navbar-collapse {
			display: none;
			border-top: 1px solid #DDD;
		}
	}
}
/*************************
	sidr mobile-menu 
*************************/
.sidr {
	z-index: 999;
	display: block ;
	max-width: 100%;
	@include box-shadow(4px -5px 9px 4px #1b1919);

	.sidr-inner {

		.mobile-menu {
			display: block !important;

			.menu-header {
				padding: 11px 17px 17px;	
				@include box-shadow(0px 1px 6px #171515);

				.logo {

					a {
	 					font-size: 25px;
						font-weight: 900;
	 					padding-bottom: 5px;
	 					letter-spacing: 3px; 
	 					color: var(--logo-color);

	 					&:hover {
	 						text-decoration: none;
	 					}
					}

					.sidr-close {
					    border: 0;
					    padding: 0;
					    width: 32px;
						float: right;
					    display: block;
					    border-radius: 0;
						margin: -11px 0 0 0;
					    background: transparent;

					    span.bar-menu:first-child {
					        transform: translateY(16px) rotate(45deg);
					    }

					    span.bar-menu:last-child {
					        transform: translateY(-16px) rotate(-45deg);
					    }

						span.bar-menu {
					        width: 100%;
					        height: 6px;
					        display: block;
					        border-radius: 0;
					        background-color: var(--logo-color); 

					        &:nth-child(2) {
					        	opacity: 0;
					        }
					        &:not(:last-child) { 
					        	margin: 10px 0;
					        }
						}

				   		&:focus {
					    	outline: none;
					    }

					}
				}
			}

			.menu {

				.navbar-nav {
						border: none;
						margin: -14px 0;
						margin-top: -5px;

						li {  
							border: none;
							padding: 14px 0;
							border-bottom: 1px solid rgba(221, 221, 221, 0.3) !important;

							.dropdown-menu {
								width: 100%;
								display: none;
								margin: 0 !important;
								padding: 0 !important;
								background: transparent;
								position: inherit !important;

								&.show {
									display: block;
								} 

								li {
									border: none;
									padding: 14px 0;
									border-bottom: 1px solid rgba(221, 221, 221, 0.3) !important;

									&:last-child {
										border-bottom: none !important;
									}

									a {
										color: var(--header-text-color) !important;
									}

									.dropdown-menu {
										display: none;

										&.show-01 {
											display: block;
										}

										.dropdown-menu {
											display: none;

											&.show-02 {
												display: block;
											}

											.dropdown-menu {
												display: none;

												&.show-03 {
													display: block;
												}
											}
										}
									}
								}
							} 

							.mega-menu {

								.content {
									flex-direction: column !important;

									.mega-widget {
										display: block;

										.meag-title {
											padding: 15px 20px;
										}

									}
								}
							}

							&:hover {

								.dropdown-menu {
								} 
							}

							a { 
								padding: 0 15px;
								font-size: 20px;
								font-weight: 700;
								line-height: 30px;
								color: var(--header-text-color);
								@include transition(all .3s ease);

								&:hover, &:focus, &.active {
									text-decoration: none;
									color: var(--header-hover-color) !important;
								}
							}
						}
				}
			}
		}
	}
}
}/*/// 991px ///*/
@media only screen and(max-width: 767px) {h1, .h1 {font-size: 30px;line-height: 40px;}}/*/// 767px ///*/
@media only screen and(max-width: 575px) {
h1, .h1 {font-size: 25px;line-height: 35px;}

// SEARCH-BAR
.search-bar {
	width: 260px;
	right: -260px; 

	.content { 

		input[type="search"] {
			width: 70%;
		} 

		button[type="submit"] {
			left: 74%;
		}
	}
}

// SEARCH-BAR
.fabarite-bar {
	width: 260px;
	right: -260px;

	.content {
		margin-top: 25%;
		padding: 10px 10px; 

		.item {
			margin-bottom: 10px;
			display: block !important;
			
			.media {
				width: 100%; 
			}

			.text {
				text-align: center;
			}
		}
	}
}

/*************************
	FOOTER
*************************/
.footer {
	padding: 20px 0;

	.widget {
		text-align: center;

		ul {
			display: inline-block; 
		}
	}

	.socail-widget {
			float: none;
			margin-top: 10px;
			text-align: center; 

			ul { 
				float: none;
				margin-bottom: -6px; 
			}
	}
}
}/*/// 575px ///*/