/************************* 
	Media Queries
///**********************/ 
@media only screen and(max-width: 1199px) {
h1, .h1 {font-size: 35px;line-height: 45px;}
.btn {
	padding: 14px 20px;
}

.about-us {

	.content {
		padding: 0;
		margin-top: 50px;
		text-align: center;

		.sub-title, p {
			margin-right: auto;
			margin-left: auto;

		}
	}
}
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {
h1, .h1 {font-size: 32px;line-height: 40px;}
h2, .h2 {font-size: 27px;line-height: 37px;}
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {
h1, .h1 {font-size: 28px;line-height: 37px;} 	 
h2, .h2 {font-size: 24px;line-height: 35px;} 

.about-us {

	.promo-box {

		.promo-item {
			width: 100%;
		}
	}
}	 
}/*/// 767px ///*/

@media only screen and(max-width: 575px) {
h1, .h1 {font-size: 25px;line-height: 30px;}	 
h2, .h2 {font-size: 20px;line-height: 30px;}

.btn {
	padding: 12px 18px;
}	 
}/*/// 575px ///*/