/************************* 
	Media Queries
///**********************/
@media only screen and(min-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1600px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1600px ///*/

@media only screen and(max-width: 1460px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1460px ///*/

@media only screen and(max-width: 1366px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1366px ///*/

@media only screen and(max-width: 1199px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {

	/*************************
		Home Style
	///**********************/
	.product-area {
		padding: 40px 0;

		.product-filter-button {
			margin-bottom: 18px;

			ul {
				margin-left: -13px;
				margin-right: -13px;

				button {
					font-size: 18px;
					padding-left: 13px;
					padding-right: 13px;
				}
			}
		}

		.product-filter {
			margin-left: -6.5px;
			margin-right: -6.5px;

			.col-4 {
				padding-left: 6.5px;
				padding-right: 6.5px;
			}
		}
	}
	 
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 767px ///*/

@media only screen and(max-width: 680px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 680px ///*/

@media only screen and(max-width: 575px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 575px ///*/

@media only screen and(max-width: 480px) {

	/*************************
		Home Style
	///**********************/
	.product-area {
		padding: 40px 0;

		.product-filter-button {
			margin-bottom: 18px;

			ul {
				margin-left: -13px;
				margin-right: -13px;

				button {
					font-size: 15px;
					padding-left: 13px;
					padding-right: 13px;
				}
			}
		}
	}
	 
}/*/// 480px ///*/

@media only screen and(max-width: 380px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 380px ///*/