/***********************
	color
///*********************/
$white: #FFFFFF;
$black: #747474;
$green: #00DCD7;
/***********************
	font-family
///*********************/

/***********************
	heading
///*********************/