/************************* 
	Media Queries
///**********************/ 
@media only screen and(max-width: 1199px) {
h1, .h1 {
	font-size: 35px;
	line-height: 45px;
}
.slick-slider {

	.slider-item {

		.content {
			padding: 70px 10px; 

			&:after {
				top: 80px;
			}

			.title {
				margin-bottom: 15px;
			}

			.button {
				margin-top: 25px;
			}
		}
	}
}	 
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {
h1, .h1 {
	font-size: 30px;
	line-height: 40px;
}
.slick-slider {

	.slider-item {

		.content {
			padding: 60px 10px; 

			.title {
				margin-bottom: 13px;
			}

			.button {
				margin-top: 20px;
			}
		}
	}
}		 
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {
h1, .h1 {
	font-size: 25px;
	line-height: 30px;
}
.slick-slider {

	.slider-item {

		.content {
			padding: 50px 10px; 

			&:after {
				top: 70px;
			}

			.title {
				margin-bottom: 10px;
			}

			.button {
				margin-top: 15px;
			}
		}
	}
}	 
}/*/// 767px ///*/
@media only screen and(max-width: 575px) {
h1, .h1 {
	font-size: 22px;
	line-height: 27px;
}
.slick-slider {

	.slider-item {

		.content {
			padding: 40px 20px; 

			&:after {
				top: 50px;
			}

			.title {
				margin-bottom: 8px;
			}

			.button {
				margin-top: 10px;
			}
		}
	}
}	 	 
}/*/// 575px ///*/

@media only screen and(max-width: 480px) {
.slick-slider {

	.slider-item {

		.content {
			padding: 30px 20px; 
		}
	}
}	 
}/*/// 480px ///*/