/*************************
	Base style
*************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scrol;
}

ul {
  margin: 0;
  padding: 0;
}

/* h1, h2, h3, h4, h5, h6, p,
a, span, li, {

} */
/* powerby 
	sabbir  */
/* base */
.ex-title {
  margin: 15px 0;
  font-size: 40px;
  font-family: "Hachi Maru Pop", cursive;
}

/* extend */
/* mixin */
/* global variable */
p {
  color: white;
  font-style: italic;
}

i {
  color: #4DC6F1;
  font-size: 50px;
}

/*************************
	organized
*************************/
.organized {
  z-index: 1;
  margin: 50px 0;
  padding: 100px 0;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url("images/img/background.jpg");
}
.organized:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  background: #0077F3;
}
.organized .content {
  margin: 20px 0;
}
.organized .content .title {
  color: #9B3122;
  margin-bottom: 15px;
}
.organized .single-item {
  margin-top: 20px;
}
.organized .single-item .item-icon {
  width: 100%;
  height: 100px;
  display: table;
}
.organized .single-item .item-icon .icon {
  display: table-cell;
  vertical-align: middle;
}
.organized a.single-item {
  display: block;
}
.organized a.single-item:hover {
  cursor: pointer;
  text-decoration: none;
}
.organized .title {
  color: #9B3122;
  margin: 15px 0;
}

/************************* 
	Media Queries
*************************/
@media only screen and (min-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1600px) {
  /*************************
  	Home Style
  *************************/
}
/* 1600px */
@media only screen and (max-width: 1460px) {
  /*************************
  	Home Style
  *************************/
}
/* 1460px */
@media only screen and (max-width: 1366px) {
  /*************************
  	Home Style
  *************************/
}
/* 1366px */
@media only screen and (max-width: 1199px) {
  /*************************
  	Home Style
  *************************/
}
/* 1199px */
@media only screen and (max-width: 991px) {
  /*************************
  	Home Style
  *************************/
}
/* 991px */
@media only screen and (max-width: 767px) {
  /*************************
  	Home Style
  *************************/
}
/* 767px */
@media only screen and (max-width: 680px) {
  /*************************
  	Home Style
  *************************/
}
/* 680px */
@media only screen and (max-width: 575px) {
  /*************************
  	Home Style
  *************************/
}
/* 575px */
@media only screen and (max-width: 480px) {
  /*************************
  	Home Style
  *************************/
}
/* 480px */
@media only screen and (max-width: 380px) {
  /*************************
  	Home Style
  *************************/
}
/* 380px */
/* Responsive */