/************************* 
	Media Queries
///**********************/
@media only screen and(min-width: 1800px) {

	/*************************
		Home Style
	///**********************/

}/*/// 1800px ///*/

@media only screen and(max-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1600px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1600px ///*/

@media only screen and(max-width: 1460px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1460px ///*/

@media only screen and(max-width: 1366px) {

	/*************************
		Home Style
	///**********************/
 
}/*/// 1366px ///*/

@media only screen and(max-width: 1199px) {

h1, .h1 {
    font-size: 44px;
    line-height: 54px;
} 
	/*************************
		home style
	///**********************/
	 
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {
h1, .h1 {
    font-size: 43px;
    line-height: 53px;
}  

	/*************************
		Home Style
	///**********************/
	.promo-area {

	 	.single-item {
	 		margin-bottom: 20px;
	 	}
	}
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {
h1, .h1 {
    font-size: 40px;
    line-height: 50px;
} 

	/*************************
		Home Style
	///**********************/
	.promo-area {

	 	.single-item {

	 	}
	}
}/*/// 767px ///*/

@media only screen and(max-width: 680px) {
 
	/*************************
		Home Style
	///**********************/
	 
}/*/// 680px ///*/

@media only screen and(max-width: 575px) {
h1, .h1 {
    font-size: 37px;
    line-height: 46px;
} 

	/*************************
		footer
	///**********************/
	
	 
}/*/// 575px ///*/

@media only screen and(max-width: 480px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 480px ///*/

@media only screen and(max-width: 380px) {
h1, .h1 {
    font-size: 35px;
    line-height: 45px;
} 

	/*************************
		Home Style
	///**********************/
	 
}/*/// 380px ///*/