/***********************
	color
///*********************/
$black: #313131;
$white: #FFFEFF;
$primary: #222931;
$dark_blue: #2B2F41;
/***********************
	font-family
///*********************/

/***********************
	heading
///*********************/
h1, .h1 {font-size: 40px;line-height: 50px}