/***********************
	color
///*********************/
$blue: #14ADF3;
$white: #FFFEFF;
$black: #9C9C9C;
$dark_white: #F7F7F7;
/***********************
	font-family
///*********************/

/***********************
	heading
///*********************/
h3, .h3 {font-size: 28px;line-height: 37px;}
h4, .h4 {font-size: 22px;line-height: 32px;}
h5, .h5 {font-size: 18px;line-height: 28px;}