 /***********************
	heading
 *************************/
h1 {font-size: 35px;line-height: 45px;}
h2 {font-size: 25px;line-height: 35px;}
 
/***********************
	color
 *************************/
$blue: #04A1ED;
$black: #A7A7A7;
$white: #F1F1F1;
$dark_white: #BABABA;
$dark_black: #D2D2D2;
