/***********************
	color
 *************************/
$red: #FE0000;
$blue: #16A086;
$white: #FEFDFF;
$black: #A3A3A3;
$yellow: #F1C40F;
$dark_green: #16A086;

/***********************
	font-family
 *************************/
 $qand: 'Quicksand', sans-serif;

/***********************
	heading
 *************************/
h2, .h2 {font-size: 32px;}
h3, .h3 {font-size: 28px;}
h4, .h4 {font-size: 20px;}

