/***********************
	color
 *************************/
/***********************
	font-family
 *************************/
/***********************
	heading
 *************************/
h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 20px;
}