/************************* 
	Media Queries
///**********************/
@media only screen and(min-width: 1800px) {

	/*************************
		Home Style
	///**********************/

}/*/// 1800px ///*/

@media only screen and(max-width: 1800px) {

	/*************************
		Home Style
	///**********************/
	
	 
}/*/// 1800px ///*/

@media only screen and(max-width: 1600px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1600px ///*/

@media only screen and(max-width: 1460px) {
/// Button 
.btn { 
	padding: 23px 115px; 
}
	/*************************
		Home Style
	///**********************/
	 
}/*/// 1460px ///*/

@media only screen and(max-width: 1366px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 1366px ///*/

@media only screen and(max-width: 1199px) {

h1, .h1 {
    font-size: 38px;
    line-height: 49px;
}
/// Button 
.btn { 
	padding: 20px 97px; 
}
	/*************************
		home style
	///**********************/
	 
	 
}/*/// 1199px ///*/

@media only screen and(max-width: 991px) {
h1, .h1 {
    font-size: 36px;
    line-height: 47px;
} 

	/*************************
		home style
	///**********************/
	.media {
		margin-top: 30px;
	}
}/*/// 991px ///*/

@media only screen and(max-width: 767px) {
h1, .h1 {
    font-size: 35px;
    line-height: 46px;
}
/// Button 
.btn { 
	padding: 18px 80px; 
}
	/*************************
		Home Style
	///**********************/
	 
}/*/// 767px ///*/

@media only screen and(max-width: 680px) {
.btn { 
	font-size: 14px;
	padding: 15px 57px; 
}
	/*************************
		Home Style
	///**********************/
	 
}/*/// 680px ///*/

@media only screen and(max-width: 575px) {
h1, .h1 {
    font-size: 33px;
    line-height: 44px;
}
/// Button 
.btn { 
	font-size: 12px;
	padding: 15px 43px; 
}
	/*************************
		footer
	///**********************/
	
	 
}/*/// 575px ///*/

@media only screen and(max-width: 480px) {

	/*************************
		Home Style
	///**********************/
	 
}/*/// 480px ///*/

@media only screen and(max-width: 380px) {
h1, .h1 {
    font-size: 31px;
    line-height: 40px;
}
/// Button 
.btn {
    font-size: 11px;
    padding: 15px 20px;
}
	/*************************
		Home Style
	///**********************/
	 
}/*/// 380px ///*/