/*************************
	Base style
*************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label,
table, th, td, tr, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

table {
  border-collapse: collapse;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scrol;
}

ul {
  margin: 0;
  padding: 0;
}

/* bootstrap-coustom */
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* powerby 
	sabbir  */
/* base */
.ex-title {
  margin: 15px 0;
  font-size: 40px;
  font-family: "Hachi Maru Pop", cursive;
}

/* extend */
/* mixin */
.bg-1 {
  background-image: url("images/img/service-1.jpg");
}

.bg-2 {
  background-image: url("images/img/team-2.jpg");
}

.bg-3 {
  background-image: url("images/img/service-3.png");
}

/*************************
	service
*************************/
.service {
  padding: 100px 0;
}
.service .content {
  padding-bottom: 70px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.service .content .title {
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 15px;
}
.service .content p {
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
.service .service-item {
  border: 1px solid #E3E3E3;
}
.service .service-item .service-bg {
  width: 348px;
  height: 170px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.service .service-item .service-bg .title {
  left: 0;
  right: 0;
  width: 310px;
  bottom: -22px;
  padding: 10px;
  color: #FFFEF8;
  font-size: 20px;
  font-weight: 400;
  background: #F97230;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  position: absolute;
}
.service .service-item .service-info {
  margin-top: 60px;
}
.service .service-item .service-info p {
  font-weight: 300;
  max-width: 300px;
  margin-left: auto;
  line-height: 29px;
  text-align: center;
  margin-right: auto;
}
.service .service-item .service-info .button {
  text-align: center;
  margin-bottom: 20px;
}
.service .service-item .service-info .button .btn {
  color: #0D0D0D;
}
.service .service-item .service-info .button .btn i {
  padding-left: s5px;
}

/*************************
	footer
*************************/
/************************* 
	Media Queries
*************************/
@media only screen and (min-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1800px) {
  /*************************
  	Home Style
  *************************/
}
/* 1800px */
@media only screen and (max-width: 1600px) {
  /*************************
  	Home Style
  *************************/
}
/* 1600px */
@media only screen and (max-width: 1460px) {
  /*************************
  	Home Style
  *************************/
}
/* 1460px */
@media only screen and (max-width: 1366px) {
  /*************************
  	Home Style
  *************************/
}
/* 1366px */
@media only screen and (max-width: 1199px) {
  /*************************
  	Home Style
  *************************/
}
/* 1199px */
@media only screen and (max-width: 991px) {
  /*************************
  	Home Style
  *************************/
}
/* 991px */
@media only screen and (max-width: 767px) {
  /*************************
  	Home Style
  *************************/
}
/* 767px */
@media only screen and (max-width: 680px) {
  /*************************
  	Home Style
  *************************/
}
/* 680px */
@media only screen and (max-width: 575px) {
  /*************************
  	Home Style
  *************************/
}
/* 575px */
@media only screen and (max-width: 480px) {
  /*************************
  	Home Style
  *************************/
}
/* 480px */
@media only screen and (max-width: 380px) {
  /*************************
  	Home Style
  *************************/
}
/* 380px */
/* Responsive */